<div class="container">
    <div class="header">
      <h1 id="date">Lists</h1>
      </div>
  <div class="cards">
    <% @lists.each do |list| %>
      <div class="card-category">
        <%= link_to list.name, list_path(list) %>
      </div>
    <% end %>
  </div>
  <div class="buttons my-5">
    <%= link_to "Add a new list", new_list_path %>
  </div>
</div>
